body {

}

#form-chat {
    display: none;
}

#chat {
    height: 400px;
    overflow: scroll;
    text-align: left;

    border: 1px solid #dddddd;
}

#board-container {
    padding-top: 20px;
}

#board {
    width: 512px;

    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.board-cell {
    width: 16px;
    height: 16px;

    border-left: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

.board-cell:hover {
    background-color: #eeeeee;
}

.board-cell:active {
    background-color: #f5f5f5;
}

.error {
    color: red;
    font-style: italic;
}
