@import 'variables';

body {
    background-color: @backgroundColor;
    color: @primaryColor;
}

header {
    padding: @smallSpace;
    font-size: 1.1em;
    font-weight: bold;
}

#container a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;

    &:hover {
        color: @highlightColor;
        text-decoration: none;
    }
}

#title {
    color: @highlightColor;
    text-shadow: 0 1px 2px @primaryColor;
}

#profile {
    .roundedBox;
    padding: 0;
    font-weight: bold;
    line-height: @lineHeight;
    padding-left: @mediumSpace + @smallSpace;
    margin-bottom: @smallSpace;
}

#user-list, #game-list {
    list-style: none;

    margin-bottom: @smallSpace;
    margin-left: 0;

    .roundedBox;

    li {
        line-height: @lineHeight;
        display: block;
    }
}

#user-list {
    height: 200px;
    overflow: scroll;

    li {
        position: relative;
    }

    .actions {
        position: absolute;
        right: 0;
    }
}

#game-list {
    .game-player {
        &:after {
            content: '- ';
        }

        &:last-child:after {
            content: '';
        }
    }
}

#message {
    width: 257px;
    background-color: @backgroundColor;

    .standardBorder;
    .roundedBorder;
}

.error {
    color: orangered;
    font-style: italic;
}

.view-animation {
    &.ng-enter, &.ng-leave {
        -webkit-transition: 0.2s linear all;
        -moz-transition: 0.2s linear all;
        -o-transition: 0.2s linear all;
        transition: 0.2s linear all;

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    &.ng-enter {
        z-index: 100;
        left: 300px;
        opacity: 0;

        &.ng-enter-active {
            left: 0;
            opacity: 1;
        }
    }

    &.ng-leave {
        z-index: 101;
        left: 0;
        opacity: 1;

        &.ng-leave-active {
            left: -300px;
            opacity: 0;
        }
    }
}
