@import 'variables';

body {
    background-color: @backgroundColor;
    color: @primaryColor;
}

header {
    padding: @smallSpace;
    font-size: 1.1em;
    font-weight: bold;
}

#title a {
    text-decoration: none;
    color: inherit;
}

#profile {
    .roundedBox;

    font-weight: bold;
    line-height: @lineHeight;
    padding-left: @mediumSpace + @smallSpace;
    margin-bottom: @smallSpace;
}

#user-list, #game-list {
    list-style: none;

    margin-bottom: @smallSpace;
    margin-left: 0;

    .roundedBox;

    li {
        display: block;
        border-bottom: @backgroundColor;
    }
}

#user-list {
    height: 200px;
    overflow: scroll;

    a {
        float: right;
    }
}

#game-list {
    .game-player {
        &:after {
            content: '- ';
        }

        &:last-child:after {
            content: '';
        }
    }
}

#chat {
    margin-bottom: @smallSpace;

    height: 200px;
    overflow: scroll;
    text-align: left;

    .roundedBox(@backgroundColor, @tertiaryColor, @primaryColor);

    p {
        margin-bottom: 0;
    }

    .username {
        background-color: black;
        color: @backgroundColor;
        padding: 2px 3px;
        margin-right: @smallSpace;
        font-size: 0.7em;
        font-weight: bold;

        .roundedBorder;
    }

    .info:before {
        content: 'INFO';
        background-color: royalblue;
        color: @backgroundColor;
        padding: 2px 3px;
        margin-right: @smallSpace;
        font-size: 0.7em;
        font-weight: bold;

        .roundedBorder;
    }

    .error:before {
        content: 'ERROR';
        background-color: orangered;
        color: white;
        padding: 2px 3px;
        margin-right: @smallSpace;
        font-size: 0.7em;
        font-weight: bold;

        .roundedBorder;
    }
}

#message {
    width: 257px;
    background-color: @backgroundColor;

    .standardBorder;
    .roundedBorder;
}

.player0 {
    color: @backgroundColor;
    background-color: @player1Color;
}

.player1 {
    color: @backgroundColor;
    background-color: @player2Color;
}

.error {
    color: orangered;
    font-style: italic;
}

.view-animation.ng-enter, .view-animation.ng-leave {
    -webkit-transition: 0.2s linear all;
    -moz-transition: 0.2s linear all;
    -o-transition: 0.2s linear all;
    transition: 0.2s linear all;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.view-animation.ng-enter {
    z-index: 100;
    left: 300px;
    opacity: 0;
}

.view-animation.ng-enter.ng-enter-active {
    left: 0;
    opacity: 1;
}

.view-animation.ng-leave {
    z-index: 101;
    left: 0;
    opacity: 1;
}

.view-animation.ng-leave.ng-leave-active {
    left: -300px;
    opacity: 0;
}
