@primaryColor: #2A3A48;
@secondaryColor: #3E6372;
@tertiaryColor: #B2D4DC;
@backgroundColor: #FAFAFF;
@highlightColor: #FF4B00;

@player1Color: #39B300;
@player2Color: #C10000;

@cellSize: 32px;
@cells: 16;

@largeSpace: 20px;
@mediumSpace: 10px;
@smallSpace: 5px;

@lineHeight: 36px;

.standardBorder (@borderColor: @tertiaryColor) {
    border: 1px solid @borderColor;
}

.roundedBorder {
    border-radius: @smallSpace;
}

.roundedBox (@bgColor: @tertiaryColor, @borderColor: @tertiaryColor, @color: @primaryColor) {
    overflow: hidden;
    padding: @smallSpace;
    color: @color;
    background-color: @bgColor;
    .box-shadow(0, 1px, 2px, @secondaryColor);
    .standardBorder(@borderColor);
    .roundedBorder;
}

.box-shadow (@x: 0; @y: 0; @blur: 1px; @color: #000) {
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
}
