{% extends '::base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
<div ng-app>
    <div ng-controller='indexCtrl'>
        <h1>MineSweeper</h1>
        <div class="row">
            <div class="span3">
                <form id="formlogin" class="form-inline">
                    <input type="text" id="username" class="input-small" value="username" />
                    <input type="submit" id="open" class="btn" value="Enter"/>
                </form>
                <form id="formchat" class="form-inline">
                    <input type="text" id="text" class="input-small" />
                    <input type="submit" id="send" class="btn" value="Send"></button>
                </form>
                <div id="chat"></div>
            </div>
            <div class="span9">
                <table id="board" class="table">
                    <script id="boardTemplate" type="text/html">
                        <!--<% for (var i = 0; i < 16; i++) { %>
                        <tr>
                            <% for (var j = 0; j < 16; j++) { %>
                            <td></td>
                            <% }; %>
                        </tr>
                        <% }; %>-->
                    </script>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
