{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tsminesweeper/css/main.css') }}">
{% endblock %}

{% block body %}
<div id="container">
    <div class="span3">
        <h1>{% trans %}Minesweeper{% endtrans %}</h1>
        <form id="formlogin" class="form-inline">
            <input type="text" id="username" class="input-small" placeholder="{% trans %}Username{% endtrans %}" />
            <input type="submit" id="login" class="btn" value="{% trans %}Login{% endtrans %}"/>
        </form>
        <form id="form-chat" class="form-inline">
            <input type="text" id="text" class="input-small" />
            <input type="submit" id="send" class="btn" value="{% trans %}Send{% endtrans %}" />
        </form>
        <div id="chat"></div>
    </div>
    <div id="board-container" class="span9">
        <table id="board" class="table">
            {% for i in 0..15 %}
            <tr>
                {% for j in 0..15 %}
                <td class="board-cell" data-row="{{ i }}" data-col="{{ j }}"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
